<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SEA(SVIT EDUCATION AMP) Mr/Miss<%= @name %></h1>
    <p>Your account has been created successfully credentials are as follow</p>
    <ul>
        <li>website : https://localhost:3000/users/sign_in</li>        
        <li>username/email : <%= @email %></li>
        <li>password : <%= @password %></li>
        <li>reset password link <a href="http://localhost:3000/users/edit">click here</a></li>
    </ul>

    <mark>Kindly login and rest the password if you need</mark>
  </body>
</html>