<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @title %></h1>
    <h5>check notification from <a href="localhost:3000">link</a></h5>
  </body>
</html>