<div class="card mt-4">
  <div class="card-header">
    New Notification
  </div>
  <div class="card-body">
    <%= render 'form', notification: @notification %>
    <%= link_to '< Back', notifications_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>