<div class="card mt-4">
  <h2 class="card-header">
    New Video
  </h2>
  <div class="card-body">
    <%= render 'form', video: @video %>
    <%= link_to '< Back', videos_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>