<%= link_to '< Back', videos_path, class: "m-1 btn btn-sm btn-secondary" %>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video
    id="my-video"
    class="video-js vjs-default-skin vjs-16-9"
    controls
    preload="auto"
    poster=<%= url_for(@video.thumbnail) %>
    data-setup="{}"
  >
    <source src=<%= url_for(@video.clip) %> 
    type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>


