<%= link_to '< Back', videos_path, class: "m-1 btn btn-sm btn-secondary" %>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<iframe width="100%" height="100%" src=<%= @iframe_url %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>