 <div class="row featurette">
    <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Why SVIT? <br><span class="text-muted">FRIENDLY ENVIRONMENT</span></h2>
    <p class="fst-italic">“Join for better future”</p>
    <p class="lead">The vision of Sri Venkateswara Lakshmi Narasimha Educational Society is to produce Excellent,Knowledgeable,Globally Competitive and Socially responsible Engineers and Entrepreneurs.</p>

    <p class="fst-italic">VISION</p>
    <p class="lead">The vision of Sri Venkateswara Lakshmi Narasimha Educational Society is to produce Excellent,Knowledgeable,Globally Competitive and Socially responsible Engineers and Entrepreneurs.</p>

    <p class="fst-italic">MISSION</p>
    <p class="lead">The vision of Sri Venkateswara Lakshmi Narasimha Educational Society is to produce Excellent,Knowledgeable,Globally Competitive and Socially responsible Engineers and Entrepreneurs.</p>
    
    </div>
    <div class="col-md-5">
    <%= image_tag('mlogo.jpeg', class: "w-100 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto") %>
    </div>
</div>