 <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Why SVIT? <br><span class="text-muted">FRIENDLY ENVIRONMENT</span></h2>
        <p class="fst-italic">“Join for better future”</p>

        <p class="fst-italic">VISION</p>
        <p class="lead text-capitalize">To develop excellence in technical education and to produce professionally excellent, knowledge, Globally Competitive and socially responsible Engineers and Entrepreneurs</p>
    </div>
    <div class="col-md-5">
        <%= image_tag('mlogo.jpeg', class: "w-100 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto") %>
    </div>
</div>