<section>    
  <div class="swiper mySwiper container">
      <div class="swiper-wrapper">
        <% @departments.each do |department| %>

          <div class="swiper-slide profile">
            <div class="profile-content">
              <div class="image">
                <%= image_tag(department.logo, class: "w-100 h-100 rounded-circle") %>
              </div>

              <div class="name-profession">
                <span class="name text-capitalize text-center"><%= department.name %></span>
              </div>

              <div class="button">
                <%= link_to 'Know More', department, class: "btn btn-danger btn-sm w-100" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</section>