   <!-- Three columns of text below the carousel -->
    <div class="row mt-4 d-flex justify-content-around">
      <% @members.each do |member| %>
        <div class="card" style="width: 18rem; margin-top: 10px;">
          <%= image_tag(url_for(member.image), class: "card-img-top" ) %>
          <div class="card-body">
            <h5 class="card-title"><%= member.name %></h5>
            <p class="card-text"><%= member.designation %></p>
            <%= link_to 'Know More', member, class: "btn btn-info btn-sm w-100" %>
          </div>
        </div>
      <% end %>
    </div>

