<section>    
  <div class="swiper mySwiper container">
      <div class="swiper-wrapper">

        <div class="swiper-slide profile">
          <div class="profile-content">
            <div class="card">
                <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2021-04/15/full/1618488020-548.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Selected candidates : 290+</h5>
                    <p class="card-text">Package : (3.5 L/A)</p>
                    <a href="#" class="btn btn-primary">View Students</a>
                </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide profile">
          <div class="profile-content">
            <div class="card">
                <img src="https://www.deccanherald.com/sites/dh/files/styles/largehorizontal/public/articleimages/2022/07/24/infosys-dh-1129618-1658680501.png?itok=T7ndgj3X" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Selected candidates : 300+</h5>
                    <p class="card-text">Package : (2.5 L/A)</p>
                    <a href="#" class="btn btn-primary">View Students</a>
                </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide profile">
          <div class="profile-content">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRABtJNB7bSLKOiMAq-7S0UGsK3WezdVEWfPw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Selected candidates : 125+</h5>
                    <p class="card-text">Package : (3.5 L/A)</p>
                    <a href="#" class="btn btn-primary">View Students</a>
                </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide profile">
          <div class="profile-content">
            <div class="card">
                <img src="https://sightsinplus.nyc3.digitaloceanspaces.com/sightsinplus/wp-content/uploads/2022/10/10170227/Capgemini-in-India-is-hiring-freshers-experienced-WFH-jobs-Apply.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Selected candidates : 159+</h5>
                    <p class="card-text">Package : (4.0 L/A)</p>
                    <a href="#" class="btn btn-primary">View Students</a>
                </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</section>