<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('svit.jpg', class: "bd-placeholder-img w-100 h-100") %>
        <div class="container">
          <div class="carousel-caption text-start transparency p-4">
            <h1>Why SVIT?</h1>
            <ul>
            <li>Hands-on experience by participating in workshops</li>
            <li>Exposure through the interaction (guest lectures, seminars) with industry experts and reputed academicians</li>
            <li>Participation in co-curricular activities (Seminars, Quizzes)</li>
            <li>Industrial visits</li>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag('aieral.jpg', class: "bd-placeholder-img w-100 h-100") %>

        <div class="container">
          <div class="carousel-caption text-start transparency p-4">
            <h1>Chairman's message.</h1>
            <p> We at SVIT have a vision to impart quality technical education, bring out the hidden skills and abilities of the students with proper discipline. We will provide meaningful education, research and training at all levels to match global standards.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('svit_front_view.jpg', class: "bd-placeholder-img w-100 h-100") %>

        <div class="container">
          <div class="carousel-caption transparency p-4">
            <h1>Checkout our placements.</h1>
            <p>SVIT has a termendarous placements in 2023</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('ground.jpg', class: "bd-placeholder-img w-100 h-100") %>

        <div class="container">
          <div class="carousel-caption text-end transparency p-4">
            <h1>Vise Chairman speech</h1>
            <p>The prestigious SVIT has made remarkable progress by following the mantra of student centric approach, whether it is in academics or in extra co-curricular activities. In addition to developing excellent scientific and engineering skills, the students are motivated not only to dream</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>