<div class="container marketing">

  <% if !@sliders.empty? %>
    <div class="row featurette">
      <%= render 'home/slider' %>
    </div>
  <% end %>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col">
        <%= render 'home/about_svit' %>
      </div>
    </div>


    <% if !@members.empty? %>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col">
          <h2 class="featurette-heading fw-normal lh-1 text-center bg-info text-light p-2 text-uppercase">Members of SVIT</h2>
          <%= render 'home/members' %>
        </div>
      </div>
    <% end %>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col">
        <h2 class="featurette-heading fw-normal lh-1 text-center bg-info text-light p-2 text-uppercase">Departments</h2>
        <%= render 'home/departments' %>
      </div>
    </div>


    <hr class="featurette-divider">

  </div><!-- /.container -->