<div class="card mt-4">
  <div class="card-header">
    Editing Result
  </div>
  <div class="card-body">
  
    <%= render 'form', result: @result %>

    <%= link_to '< Back', results_path, class: "btn btn-secondary mt-3" %>

  </div>
</div>