<div class="card mt-4">
  <h2 class="card-header">
    Editing Document
  </h2>
  <div class="card-body">
    <%= render 'form', document: @document %>
    <%= link_to '< Back', documents_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>